footer.footer
  .footer__logo
    img(src='/img/favicons/logo.png' alt='BIOSSA - KNUST')
  ul.footer__nav
    li: a(href='https://www.biossaknust.com/about') About us
    li: a(href='https://drive.google.com/drive/folders/1rsKeXJohg5lO6xw3LmD1q4dZV9OOetYn?usp=drive_link') Download apps
    li: a(href='tel:+233556585028') Contact
  p.footer__copyright &copy; by BIOSSA - KNUST